@import "tailwindcss";

* {
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Manrope";
}
@theme {
  --color-beige: #bbb4a9;
}
@font-face {
  font-family: "Manrope";
  src: url("/font/Manrope-ExtraLight.ttf");
}
input {
  border-radius: 10px;
  border: 1px solid #747272;
  background: rgba(217, 217, 217, 0.2);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 8px 12px 8px 12px;
  width: 50%;
  margin: 10px;
  font-size: large;
}
::placeholder {
  color: #747272;
}
